<div>
	<div class="jumbotron">
		<div class="container">
			<div class="row footer">
				<div class="col-lg-4 col-md-4">
					<div class="align-self-x">
						<h6>OWNER</h6>
						<ul class="list-unstyled">
							<li><i class="fa fa-user"></i><b> Mr. Jay Pee Escartin</b></li>
						</ul>
					</div>
					<br />
				</div>
				<div class="col-lg-4 col-md-4">
					<div class="align-self-x">
						<h6>CONTACT US</h6>
						<br />
						<ul class="list-unstyled">
							<li><i class="fa fa-at"></i> proprints.ph@gmail.com</li>
							<li><i class="fa fa-phone"></i> Landline (02) 8851-8752</li>
							<li><i class="fa fa-map-marker"></i> 856 Jenny's Ave. Maybunga Pasig City</li>
							<li>
								<i class="fa fa-map-marker"></i> 4328 G/F Alpha EOS Bldg. Montojo St. Sta Cruz
								Makati City
							</li>
							<li>
								<i class="fa fa-calendar"></i> Office hrs (Monday - Friday | 8:00 AM - 5:00 PM)
							</li>
						</ul>
					</div>
					<br />
				</div>
				<div class="col-lg-4 col-md-4">
					<div class="align-self-x">
						<subscribe-component></subscribe-component>
						<br />
						<br />
						<br />
						<a
							href="https://www.facebook.com/pages/category/Product-Service/Pro-Prints-Enterprise-1164924420327481/"
						>
							<i class="fa fa-facebook-square"></i>
						</a>
						<a href>
							<i class="fa fa-instagram"></i>
						</a>
						<a href>
							<i class="fa fa-twitter-square"></i>
						</a>
					</div>
					<br />
				</div>
			</div>
		</div>
	</div>
	<div class="lastly">
		<div class="container">
			<h6>Pro Prints Enterprise 2020</h6>
		</div>
	</div>
</div>
