<header>
	<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
		<div class="container">
			<a class="navbar-brand" href="/">
				<img src="/assets/images/logo_old.png" width="50px" height="45px" alt="" />
			</a>
			<button
				class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target="#navbarCollapse"
				aria-controls="navbarCollapse"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li <% if (location == 'about-us') { %> class="nav-item active" <% } else { %> class="nav-item" <%}  %>>
						<a class="nav-link" href="/about-us"
							><small>ABOUT US</small></a
						>
					</li>
					<li <% if (location == 'support') { %> class="nav-item active" <% } else { %> class="nav-item" <%}  %>>
						<a class="nav-link" href="/support"><small>SUPPORT</small></a>
					</li>
					<li <% if (location == 'products') { %> class="nav-item active" <% } else { %> class="nav-item" <%}  %>>
						<a class="nav-link" href="/products?page=1"
							><small>PRINTERS AND CARTRIDGES</small></a
						>
					</li>
					<li <% if (location == 'parts') { %> class="nav-item active" <% } else { %> class="nav-item" <%}  %>>
						<a class="nav-link" href="/parts?page=1"
							><small>PARTS</small></a
						>
					</li>
				</ul>
				<search-component></search-component>
			</div>
		</div>
	</nav>
</header>

