<header>
	<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
		<div class="container">
			<a class="navbar-brand" href="#">
				<img src="assets/images/logo_old.png" width="50px" height="45px" alt="" />
			</a>
			<button
				class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target="#navbarCollapse"
				aria-controls="navbarCollapse"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li <% if (location == 'faq') { %> class="nav-item active" <% } else { %> class="nav-item" <%}  %>>
						<a class="nav-link" href="#"
							><small>FAQ</small></a
						>
					</li>
					<li <% if (location == 'customer-service') { %> class="nav-item active" <% } else { %> class="nav-item" <%}  %>>
						<a class="nav-link" href="#"><small>CUSTOMER SERVICE</small></a>
					</li>
					<li <% if (location == 'products') { %> class="nav-item active" <% } else { %> class="nav-item" <%}  %>>
						<a class="nav-link" href="#"
							><small>PRODUCTS</small></a
						>
					</li>
				</ul>
				<form class="form-inline mt-2 mt-md-0">
					<input
						class="form-control form-control-sm mr-sm-2"
						type="text"
						placeholder="Search"
						aria-label="Search"
					/>
					<button class="btn btn-sm btn-outline-primary my-2 my-sm-0" type="submit">
						Search
					</button>
				</form>
				<ul class="navbar-nav ml-auto">
					<li <% if (location == 'login') { %> class="nav-item active" <% } else { %> class="nav-item" <%}  %>>
						<a class="nav-link" href="/login"><small>Login</small></a>
					</li>
					<li <% if (location == 'register') { %> class="nav-item active" <% } else { %> class="nav-item" <%}  %>>
						<a class="nav-link" href="/register"
							><small>Creat Account</small></a
						>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
